asttokens         2.4.1
clarabel          0.9.0
cvxpy             1.5.2
decorator         5.1.1
ecos              2.0.14
exceptiongroup    1.2.1
executing         2.0.1
ipython           8.18.1
jedi              0.19.1
julia             0.6.2
matplotlib
matplotlib-inline 0.1.7
numpy             2.0.0
osqp              0.6.7
pandas            2.2.2
parso             0.8.4
path              16.14.0
path.py           12.5.0
pexpect           4.9.0
pip               24.0
prompt_toolkit    3.0.47
ptyprocess        0.7.0
pure-eval         0.2.2
pycall            2.3.2
Pygments          2.18.0
python-dateutil   2.9.0.post0
pytz              2024.1
qdldl             0.1.7.post3
scipy             1.13.1
scs               3.2.4.post2
setuptools        69.5.1
six               1.16.0
stack-data        0.6.3
traitlets         5.14.3
typing_extensions 4.12.2
tzdata            2024.1
wcwidth           0.2.13
wheel             0.43.0
